/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    max-width: 480px;
    margin: auto;
    padding: 1.5em;
    background-image: url(../img/sfondo.png);
}

/* HEADER */
header{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 1.5em;
    padding: 1em;
    text-align: center;
    background: linear-gradient(30deg, #006688, #0088aa);
    box-shadow: 1px 2px 4px 2px #666;
}

header p{
    font-size: 1.7em;
    margin-bottom: 1.5em;
}
header a{
    color: white;
    text-decoration: none;
}

header li{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

header img{
    margin-bottom: 1.5em;
}

/* MAIN */
main{
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    background-color: white;
    box-shadow: 1px 2px 4px 2px #666;
    border: 0.5em;
    padding: 1em;
}

h1{
    font-size: 2em;
    font: 900;
    margin-bottom: 1em;
}

main p{
    margin-bottom: 0.7em;
}

main ul, ol{
    margin-bottom: 0.7em;
}

main section{
    background-color: gray;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
main table{
    text-align: center;
    border: 1px solid;
    margin-bottom: 0.7em;
}

main table th{
    border: 1px solid;
    padding: 1em;
    background-color: #3366CC;
}

main table td{
    border: 1px solid;
    padding: 0.7em;
}

tr:nth-child(3),
tr:nth-child(5){
    background-color: #FFFFFF;}
/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer{
    border: 0.5em;
    padding: 2em 2em;
    text-align: center;
    color: white;
    background: linear-gradient(30deg, #387474, #005566);
    box-shadow: 1px 2px 4px 2px #666;
}

/* STYLE PAGE */