/* IMPOSTAZIONI GENERALI */
body{
    max-width: 480px;
    margin: auto;
    background-image: url(../img/sfondo.png);
}

/* HEADER */
header{
    padding: 10px;
    text-align: center;
    background: linear-gradient(to top, #006688, #0088aa);
}

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

/* STYLE PAGE */